{
    env:
    {
        browser: false,
        node: true,
        es6: true
    },
    "parserOptions": {
   "ecmaVersion": 6
 },
    "extends": "eslint:recommended",
    "rules":
    {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],

        "comma-dangle": ["error", "always"],
        "no-cond-assign": ["error", "always"],

        "no-console": "off",
    }
}